
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* color: white; */
    background-color: #151515;
}

.head{
    font-size: 15px;
    cursor: pointer;
    /* height: 200vh; */
}
.first-col{
    height: 100%;
    width: 20%;
    padding: 20px 40px;
    position: fixed;

}
.first-col span{
     padding-left: 10px;
}
a{
    width: 100px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: white;
}

.first-col div{
    width: 150px;
    /* font-weight: bold; */
    margin-top: 7px;
    padding:5px 7px;
    border-radius: 30px;

    /* border: 0.5px solid; */
}
.first-col div:hover{
    width: 150px;
    margin-top: 7px;
    padding:5px 7px;
    border-radius: 30px;
    /* border: 0.5px solid; */
    background-color: rgba(0, 0, 0, 0.119);
}
.active{
    width: 100px;
    margin-top: 7px;
    padding:5px 7px;
    background-color: rgba(0, 0, 0, 0.119);

    border-radius: 30px;
    /* border: 0.5px solid; */
}
.container {
    max-width: 800px;
    margin: 20px auto;
    margin-left: 300px;
    padding: 20px;
    color: white;
    text-align: center;
    /* background-color: #f1f1f1; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.profile-info {
    margin-bottom: 20px;
}
.profile-info h2 {
    margin-top: 0;
}
.stats {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.stats div {
    text-align: center;
}

#bio{
    font-size: 9px;
}
.logo{
    font-size: 40px;
}
button{
    padding: 8px 10px;
    border-radius: 50px;
    border: 1px solid white;
}
